/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.46%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    /* 
    font-family: 'Satisfy', cursive; */
}
body{
    margin: 0;
}
h1{
    font-size: 2.3rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
h2{
    font-size: 1.5rem;
    text-align: center;
}
.dotted-hr{
    border: dotted 5px #fff;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

[class*="col-"]{
    float: left;
    padding:10px;
}
/* For mobail */
[class*="col-"]{
    width: 100%;
}
/* NavBar start */
.nav-bar{
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
}
.nav-logo img{
    max-width: 120px;
}
.nav-title h1{
    color: #fff;
    margin: 0;
    padding-top: 10px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

}
.nav-menu a{
    background-color: #530c68;
    margin: 7px 0px;
    padding: 10px;
    border-radius: 10px;
}
.nav-menu a:hover{
    background-color: black;
    color: #fff;
}
.nav-bar::after{
    content: "";
    display: table;
    clear: both;
}
/* NavBar end */

/* Profile start */

.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
    background: url(../images/plant.jpg) no-repeat center center/cover;
}
.profile .top-weather-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition:transform 2s ;
    width: 100px;
    border-radius: 50px;
}
.profile .top-weather-icon:hover{
  transform: rotate(360deg);
}
.profile-desh h1{
    font-family: 'Satisfy', cursive; 
    font-size: 3rem;
}
.profile-desh p{
    color:rgb(82, 82, 82);
    margin: 0px auto 20px auto;
    text-align: center;
    width: 90%;
}
.profile .bottom-weather-icon{
    position: absolute;
    bottom: 10px;
    left: 60px;
    transition:transform 2s ;
    width: 100px;
    border-radius: 50px;
}
.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
  }
.profile::after{
    content: "";
    display: table;
    clear: both;
  }
/* Profile end */

/* About me start */
.about-me{
   background-color: rgb(72, 141, 72);
    padding: 1% 7%;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.about-img img{
    border: 5px solid #fff;
    border-radius: 50%;
    width: 200px;
    height: 220px;
  
}
.about-img img:hover{
    transform: scale(1.1);
  
}
.about-me p{
    text-align: center;
}
.about-me a{
    font-size: 1.2rem;
}
.cv-button{
    background-color: darkorchid;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    transition: .3s;
    margin-bottom: 40px;
}
.cv-button:hover{
    background: linear-gradient(green, red);
}
.about-me::after{
    content: "";
    display: table;
    clear: both;
}
/* About me end */

/* card design start */
.professional-experience{
    padding: 1% 7%;
}
.professional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 500px;
}
.professional-experience .card:hover{
    box-shadow: 0 4px 8px 5px black;
}
.card-icon{
    text-align: center;
}
.card-icon img{
    margin: 20px;
    width: 100px;
}
.round-img{
    border: 5px solid #fff;
    border-radius: 50%;
    padding: 15px;
}
.card-title h2{
    background-color: green;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.professional-experience::after{
    content: "";
    clear: both;
    display: table;
}
.skills-container{
    padding-right: 45px;
}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}
.skills-container li::before{
    content: '';
    position: absolute;
    background-color: rgb(86,86,153,.5);
    top:calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 10px;
}
.skills-container li::after{
    content: '';
    position: absolute;
    background-color: rgba(14, 14, 138, 0.3);
    top:calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    border-radius: 10px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}
.skills-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
    }
}
.skills-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 80%;
    }
}
.skills-container li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 60%;
    }
}
.skills-container li.bst::after{
    animation-name: bst;
}
@keyframes bst{
    to{
        width: 20%;
    }
}
.skills-container li.psd::after{
    animation-name: psd;
}
@keyframes psd{
    to{
        width: 70%;
    }
}
/* card design end */

/* contact me start */
.achivement-contact{
    padding: 1% 7%;
    background-color: #39a4ac;
    color: #fff;
}
.contact-me{
    text-align: center;
}
.contact-me input,textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}
.contact-me button{
    border: none;
    border-radius: 10px;
    background-color: #052d2f;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100px;
    transition: 0.3s;
    cursor: pointer;
}
.contact-me button:hover{
    background: linear-gradient(tomato,red);
    color: #fff;
}
.contact-links{
    text-align: center;
}
.media-btn .btnn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 5px;
    width: 50px;
    background-color: #fff;
}
.media-btn .btnn:hover{
    background: gray;
}
.achivement-contact::after{
    content: "";
    clear: both;
    display: table;
}

/* contact me end */

/* footer start */
.footer{
   background-color: black;
   color: #fff;
   padding: 20px;
   text-align: center;
   font-size: 0.8rem;
}
.footer-memu a{
    display: block;
    margin: 15px 0;
    font-size: 1rem;

}
.footer-memu a:hover{
   color: gray;

}
.footer::after{
    content: "";
    clear: both;
    display: table;
}
/* footer end */